body{
    background-color: beige;
}
.card__container{
    margin: 50px 0;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
}
.cards{
    
}
.card {
    background-color: rgb(247, 167, 64);
    padding: 20px;
    margin: 30px;
    border-radius: 30px;
    text-align: center;
}
.card__img{
    position: relative;
    width: 300px;
    height: 300px;
    border-radius: 30px;
}
.card__category{
    color: #fff;
    font-size: 30px;
    text-align: center;
    font-weight: bold;
}
.card__title{
    color: #000;
    font-size: 20px;
    text-align: center;
    font-weight: bold;
}
.link{
    text-align: center;
    display: inline-block;
    text-align: center;
}

.link .btn{
    padding: 16px 30px;
    font-size: 15px;
    border: none;
    border-radius: 20px;
    font-weight: bold;
}
    